
.packages-heading:not(:first-of-type) {
  margin-top: 1em;
}

.package-version {
  padding-left: 5px;
  font-size: .8em;
}

.package-version--available {
  color: #b3000a;
}

.package-version--none {
  color: #8dae28;
}

.package-version--unknown {
  color: #aaa;
}
